@use "../../utils" as *;

/*----------------------------------------*/
/*  8.19 Cart CSS
/*----------------------------------------*/

.#{$theme-prifix}-cart {
  &-header {
    &-product {
      padding-left: 30px !important;
    }
  }
  &-list {
    @media #{$lg, $md, $sm, $xs} {
      overflow-x: scroll;
    }
    .table > :not(caption) > * > * {
      padding: 20px 0;
      box-shadow: none;
      vertical-align: middle;
    }

    & table {
      @media #{$lg, $md, $sm, $xs} {
        width: 840px;
      }
    }

    & thead {
      background-color: #f1f3f4;
      border-bottom: 1px solid #e0e2e3;
      & th {
        font-weight: 400;
        font-size: 14px;
        color: var(--tp-common-black);
        border: 0 !important;
        padding-top: 9px !important;
        padding-bottom: 9px !important;
      }
    }
    & tr {
      & td {
        border-color: #e0e2e3;

        & .tp-cart-action-btn {
          font-weight: 400;
          font-size: 14px;
          color: red;

          & svg {
            @extend %tp-svg-y-2;
          }

          &:hover {
            color: #ff1826;
          }
        }

        &.tp-cart-add-to-cart {
          & .tp-btn {
            border-radius: 0;
          }
        }
      }
    }

    & tbody {
      & tr {
        &:first-child {
          & td {
            padding-top: 30px !important;
          }
        }
      }
    }
  }
  &-img {
    width: 78px;
    margin-right: 20px;
    & a {
      background-color: #f2f3f5;
      display: inline-block;
    }
    & img {
      width: 78px;
      height: 100px;
      object-fit: cover;
    }
  }
  &-title {
    & a {
      margin-left: 20px;
      font-weight: 400;
      font-size: 14px;
      color: rgb(47, 46, 46);

      &:hover {
        color: #c3935b;
      }
    }
  }
  &-price {
    width: 126px;
    & span {
      font-size: 14px;
      color: gray;
    }
  }
  &-quantity {
    width: 180px;
  }
  &-coupon {
    @media #{$sm, $xs} {
      margin-bottom: 20px;
    }
    &-input {
      &-box {
        & label {
          font-size: 14px;
          color: var(--tp-common-black);
          margin-bottom: 7px;
        }
      }
      & input {
        background: #ffffff;
        border: 1px solid #d6d9dc;
        height: 46px;
        line-height: 46px;
        margin-right: 4px;
        max-width: 282px;
        @include tp-placeholder {
          color: #818487;
        }
      }

      & button {
        font-weight: 500;
        font-size: 16px;
        color: var(--tp-common-white);
        background-color: #c3935b;
        padding: 10px 30px;

        &:hover {
          color: var(--tp-common-white);
          background-color: #9d6d35;
        }
      }
    }
  }
  &-update {
    &-btn {
      font-weight: 400;
      font-size: 14px;
      color: #706969;
      background-color: white;
      padding: 9px 29px;

      &:hover {
        background-color: #ececec;
        color: #706969;
      }
    }
  }
  &-checkout {
    &-wrapper {
      background: var(--tp-common-white);
      box-shadow: 0px 30px 70px rgba(1, 15, 28, 0.1);
      padding: 36px 24px 28px;
      margin-left: -24px;

      @media #{$md, $sm, $xs} {
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 30px;
      }
    }
    &-top {
      padding-bottom: 13px;
      margin-bottom: 19px;
      border-bottom: 1px solid #e0e2e3;
      & span {
        font-size: 14px;
        color: rgb(47, 46, 46);
        font-weight: 300;
      }
    }
    &-shipping {
      padding-bottom: 16px;
      border-bottom: 1px solid #e0e2e3;
      margin-bottom: 15px;
      &-title {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 7px;
      }
      &-option {
        &:not(:last-child) {
          margin-bottom: 4px;
        }
        & input {
          display: none;

          &:checked {
            & + label {
              &::after {
                border-color: #c3935b;
              }
              &::before {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }

        & label {
          font-weight: 400;
          font-size: 14px;
          color: #161c2d;
          position: relative;
          padding-left: 25px;
          &:hover {
            cursor: pointer;
          }
          & span {
            color: #c3935b;
          }

          &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 5px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #bcbcbc;
            @extend %tp-transition;
          }
          &::before {
            position: absolute;
            content: "";
            left: 4px;
            top: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #c3935b;
            visibility: hidden;
            opacity: 0;
            @extend %tp-transition;
          }
        }
      }
    }
    &-total {
      margin-bottom: 25px;
      & span {
        font-weight: 400;
        font-size: 14px;
        color: var(--tp-common-black);
      }
    }
    &-btn {
      font-size: 14px;
      font-weight: 400;
      color: var(--tp-common-white);
      background-color: #c3935b;
      display: inline-block;
      padding: 5px 30px;
      text-align: center;
      &:hover {
        background-color: #c3935b;
        color: white;
      }
    }
  }
}
.quickview-first-section {
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .quickview-nav-wrapper {
    width: 100% !important;
    overflow: hidden;
    height: auto !important;
  }
}

.quickview-main-image {
  width: 400px !important;
  height: 420px !important;

  @media (max-width: 768px) {
    width: 100% !important;
    height: 400px !important;
  }
}

.quickview-nav-image {
  border: none;
  background: none;
  padding: 0;
  width: 175px !important;
  height: 205px !important;

  @media (max-width: 1024px) {
    width: 100px !important;
    height: 100px !important;
  }
}

.quickview-nav-prev-btn {
  font-size: 12px !important;
  background: #f2efec !important;
  border-radius: 50% !important;
  padding: 3px;
  color: black;
  position: absolute;
  left: 70px;
  top: 5%;
  opacity: 0.8;

  @media (max-width: 1024px) {
    left: 40px !important;
    top: 3%;
  }

  @media (max-width: 768px) {
    left: 60px !important;
    top: 6%;
  }

  @media (max-width: 500px) {
    left: 15px !important;
    top: 80px;
    rotate: -90deg !important;
  }

  @media (max-width: 375px) {
    top: 70px;
  }
}

.quickview-nav-next-btn {
  font-size: 12px !important;
  background: #f2efec !important;
  border-radius: 50% !important;
  padding: 3px;
  color: black;
  position: absolute;
  left: 70px !important;
  top: 93% !important;
  opacity: 0.8;
  z-index: 2;

  @media (max-width: 1024px) {
    left: 40px !important;
    top: 95% !important;
  }

  @media (max-width: 768px) {
    left: 60px !important;
    top: 47% !important;
  }

  @media (max-width: 500px) {
    left: 90% !important;
    top: 80px !important;
    rotate: -90deg !important;
  }

  @media (max-width: 375px) {
    top: 70px !important;
    left: 85% !important;
  }
}

.quickview-nav-tabs-main {
  display: flex;
  flex-direction: column;

  @media (max-width: 500px) {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 400px;
    height: 100% !important;
  }

  @media (max-width: 430px) {
    width: 330px !important;
  }

  @media (max-width: 350px) {
    width: 280px !important;
  }
}

.quickview-tab-content {
  padding-right: 20px;
  @media (max-width: 768px) {
    padding-right: 0px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.table th,
.table td {
  // border: 1px solid #ddd;
  padding: 5px 10px;
  text-align: left;
}

.th {
  background-color: #c2882b !important;
  color: white !important;
  font-size: 18px !important;
}

.tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

.td {
  color: #55585b;
}
