@use '../../utils' as *;

/*----------------------------------------*/
/*  8.10 Product Card Style 2 CSS
/*----------------------------------------*/


.#{$theme-prifix}-product{
    $self: &;
    &-item-2{
        &:hover{
            #{$self}{
                &-thumb-2{
                    & img{
                        @include transform(scale(1.5));
                    }
                }
                &-action-2{
                    left: 110px !important;
                    visibility: visible;
                    opacity: 1;
                }
                @media ( max-width:1600px){
                    &-action-2{
                        left: 60px !important;
                    }
                }
                @media ( max-width:990px){
                    &-action-2{
                        left: 120px !important;
                    }
                }
                @media ( max-width:900px){
                    &-action-2{
                        left: 90px !important;
                    }
                }
                @media ( max-width:820px){
                    &-action-2{
                        left: 80px !important;
                    }
                }
                 @media ( max-width:767px){
                    &-action-2{
                        left: 250px !important;
                    }
                }
                @media ( max-width:700px){
                    &-action-2{
                        left: 210px !important;
                    }
                }
               
                @media ( max-width:620px){
                    &-action-2{
                        left: 190px !important;
                    }
                }
                @media ( max-width:590px){
                    &-action-2{
                        left: 170px !important;
                    }
                }
                @media ( max-width:550px){
                    &-action-2{
                        left: 160px !important;
                    }
                }
                 @media ( max-width:530px){
                    &-action-2{
                        left: 130px !important;
                       
                    }
                }

                @media ( max-width:500px){
                    &-action-2{
                        left: 120px !important;
                       
                    }
                }
                @media ( max-width:480px){
                    &-action-2{
                        left: 110px !important;
                       
                    }
                }

                 @media ( max-width:470px){
                    &-action-2{
                        left: 100px !important;
                       
                    }
                }
                @media ( max-width:460px){
                    &-action-2{
                        left: 90px !important;
                       
                    }
                }
                @media ( max-width:430px){
                    &-action-2{
                        left: 75px !important;
                       
                    }
                }
                 @media ( max-width:400px){
                    &-action-2{
                        left: 50px !important;
                       
                    }
                }
                
            }
        }
    }
    &-title-2{
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 5px;
        & a{
            &:hover{
                color: var(--tp-theme-secondary);
            }
        }
    }
    &-tag-2{
        & a{
            font-size: 16px;
            position: relative;
            display: inline-block;
            line-height: 1;
            padding-right: 5px;
            &::after{
                position: absolute;
                content: '';
                left: auto;
                right: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: var(--tp-theme-secondary);
                @extend %tp-transition;
            }

            &:hover{
                color: var(--tp-theme-secondary);
                &::after{
                    left: 0;
                    right: auto;
                    width: 100%;
                }
            }
        }
    }
    &-price{
        &-2{
            font-weight: 700;
            font-size: 22px;
            color:#7d4432;
            &.new-price{
                color: #7d4432;
            }
            &.old-price{
            font-weight: 400;
            font-size: 14px;
            text-decoration-line: line-through;
            color: var(--tp-text-1);
            }
        }
    }
    &-rating-icon-2{
        margin-bottom: 4px;
    }
    &-action{
        &-2{
            position: absolute;
            left: 70px !important ;
            right: auto;
            bottom: 20px;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            @extend %tp-transition;

            @media(max-width:1600px) {
                left: 60px !important ;
            }

            @media(max-width:820px){
                left: 110px !important ;
            }

            @media(max-width:768px){
                left: 95px !important ;
            }
            @media (max-width:600px){
                left: 55px !important ;
            }
            @media (max-width:500px){
                left: 30px !important ;
                bottom: 20px;
            }
            @media(max-width:400px ){
                left: 10px !important ;
            }
            @media(max-width:350px ){
                left: 5px !important ;
            }
        }

        &-blackStyle{
            & #{$self}{
                &-action-btn-2{
                    &.active{
                        background: #9b604d;
                        margin-right: 5px; 
                    }
                    &:hover{
                        background: #9b604d;
                    }
                }
            }
        }
        &-primaryStyle{
            & #{$self}{
                &-action-btn-3{
                    &:hover{
                        background: #9b604d;

                    }
                }
            }
        }

        &-btn-2{
            position: relative;
            display: inline-block;
            width: 42px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            font-size: 18px;
            color:#7d4432;
            background-color: var(--tp-common-white);
            border-bottom: 0;
            box-shadow: 0px 1px 2px #bb9d7b;
            border-radius: 50%;
            margin-bottom: 6px;

            & svg{
                @extend %tp-svg-y-1;
            }

            #{$self}{
                &-tooltip{
                   @extend %tp-ff-jost;
                }
            }
            &.active{
                color: var(--tp-common-white);
                background-color:#7d4432; 
            }
            &:hover{
                color: var(--tp-common-white);
                background: #9b604d;

                #{$self}{
                    &-tooltip{
                        visibility: visible;
                        opacity: 1;
                        @include transform(translateX(8px) translateY(-50%));
                    }
                }
            }
        }
    }
    &-thumb-2{
        & img{
            @extend %tp-transition;
            width: 100%;
            height: 100%;
        }
    }
}

.tp-product-item-2 {
    & .tp-product-thumb-2{
        transition: transform .5s ease;
        background-color: #F2F3F5;
        border-radius: 20px;
        & a{
            display: block;
            border-radius: 20px;
        }
    }
}

// .swiper-slide{
//   margin-right: 10px !important;
// }

@media(max-width: 768px){
    .tp-category-item-4 {
        min-height: 260px;
    }
}
@media(max-width: 500px){
    // .tp-product-action-btn-2{
    //     width: 50px;
    //     height: 50px;
    // }
    // .tp-product-action-btn-2 {
    //     line-height: 36px;
    //     font-size: 5px;
    // }
    
}

